body {
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: #212222; */
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  border: 1px solid;
}

.header,
.footer {
  text-align: center;
  font-size: 20px;
  background-color: rgb(175, 176, 236);
}

.keyboardAccess {
  display: flex;
  align-self: center;
  flex-direction: column;
  text-align: center;
  row-gap: 10px;
  width: 300px;
}

#requestButton {
  display: flex;
  align-self: center;
}

.keyboardName {
  font-size: 20px;
}

.keyboard {
  column-gap: 10px;
  /* border: 1px solid;
	border-radius: 3px; */
  padding: 20px;
  display: flex;
  justify-content: center;
}

.key {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  margin: 1px;
  text-align: center;
  transition: transform 0.1s ease-in-out;
}

span {
  width: 45px;
  height: 45px;
}

.medium-size {
  width: 84px;
}

.highlightKey {
  background-color: lightgreen;
}

.keyDownStyle {
  transform: scale(0.93);
}

.keyUpStlye {
  transform: scale(1);
}


span:active {
  background-color: white;
  box-shadow: 0 2px 2px #666;
  transform: translateY(4px);
}
.container {
  /* border: 1px solid; */
  border-color: blue;
  display: flex;
  flex-direction: column;
}

.first-row,
.sec-row {
  /* border: 1px solid; */
  display: flex;
}

.func-container {
  display: flex;
}

.esc {
  margin-right: 49px;
}
.f4 {
  margin-right: 21px;
}
.f8 {
  margin-right: 21px;
}
