:root {
  --keywidth: 52px;
  --keyheight: 55px;
}

body {
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header,
.footer {
  text-align: center;
  font-size: 20px;
  width: 100vw;
  background-color: rgb(175, 176, 236);
}

.keyboardAccess {
  display: flex;
  align-self: center;
  flex-direction: column;
  text-align: center;
  row-gap: 10px;
  width: 300px;
}

#requestButton {
  display: flex;
  align-self: center;
}

.keyboardName {
  font-size: 20px;
}

.key {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  margin: 1px;
  transition: transform 0.1s ease-in-out;
  pointer-events: none;
  width: var(--keywidth);
  height: var(--keyheight);
}

.large-modifier {
  width: 335px;
}

.medium-modifier {
  width: 94px;
}

.medium1-modifier {
  width: 100px;
}

.medium2-modifier {
  width: 110px;
}

.medium3-modifier {
  width: 130px;
}

.small-modifier {
  width: 70px;
}


.highlightKey {
  background-color: lightgreen;
}

.keyDownStyle {
  transform: scale(0.95);
}

.keyUpStlye {
  transform: scale(1);
}


span:active {
  background-color: white;
  box-shadow: 0 2px 2px #666;
  transform: translateY(4px);
}


.keyboard {
  border: 1px dashed white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  grid-template-columns: 830px min-content min-content;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-rows: repeat(6, min-content);
  border: 1px dashed white;
}

.container > div {
  display: flex;
}

/* .F1,
.F5,
.F9 {
  margin-left: 25px;
} */

